h1, h3 {
    text-align: center;
}



body {
    background-color: darkcyan;
    font-family: Arial, sans-serif;
}
.entetetitre {
    background-color: rgb(114, 80, 80);
    color: white;
    text-align: center;
    width: 50%;
    margin-top: 2em;
    margin-left: 25%;
    align-items: center;
    border-radius: 10em;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.entetetitre:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0px 12px 20px rgba(0,0,0,0.5);

}
.voirplus {
    background-color: rgb(0, 49, 88);
    border-radius: 20px;
    width: 20%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    
}
/* Animation au survol */
.voirplus:hover {
    transform: scale(1.05);
    background-color: rgb(100, 90, 90);
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}

.publisher{
    position: absolute;
    width: 15%;
    height: 15%;
    border-radius: 20px;
    font-size: larger;
    color: #30faac;
    padding-bottom: 20em;

}

/* gestion du rendu au niveau de la page article.*/
.article {
    background-color: rgba(234, 253, 255, 0.904);
    text-align: center;
    width: 70%;
    border-radius: 10px;
    margin-left: 25%;
    padding: 15px;
    /*padding-bottom: 10%;*/
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.815);
    height: 76vh;            /* hauteur fixe : 90% de la hauteur de la fenêtre */
    overflow-y: auto; 
}
.navigation {
    width: 20%;
    margin: 10px;
    position: absolute;
    left: 0;
    top: 1px;

    height: 76vh;            /* hauteur fixe : 90% de la hauteur de la fenêtre */
    overflow-y: auto;        /* active le scroll vertical */
    background-color: #d6fff6;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}
.intitle {
    text-align: center;
    font-size: medium;
    width: 90%;
    background-color: rgb(190, 238, 234);
    box-shadow: 0px 2px 5px #1c1a19;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 40px;
    transition: box-shadow 0.3s;
}
h3 {
    background-color: rgb(150, 0, 170);
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.news p {
    background-color: #CCCCCC;
    margin-top: 0;
}

.news {
    width: 70%;
    margin: auto;
}

a {
    text-decoration: none;
    color: blue;
}
.coms{
    background-color: rgb(195, 228, 255);
    width: 50%;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid #23f8ff;
}
.comm{
    background:wheat;
    border-radius: 10px;
    text-align: justify;
}  
.namcom{
    background-color: #ff0606;
    text-align: center;
    border-radius: 2em;
    color: #f8c1c1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

#envoyer {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#envoyer:hover {
    background-color: darkblue;
}





.entetearticle {
    background-color: rgb(63, 41, 1);
    color: bisque;
    border-radius: 10px;
    padding: 10px;
}







.intitle:hover {
    box-shadow: 0px 8px 20px rgba(0,0,0,0.3);
}
